h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.a1 {
  font-size: 100%;
  color: white;
  margin-top: -160px;
  width: 90%;
  height: 90%;
  z-index: 99;
  text-decoration: double;
  text-shadow: 10px 10px 50px black;
}

.introduction {
  margin-top: 60px;
  z-index: -99;
}

.pembatas {
  margin-top: 20px;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.pembatas-dua {
  margin-top: 18px;
  z-index: -98;
}

.wedding-story {
  width: 80%;
  height: 80%;
  margin: auto;
}

.story-2 {
  z-index: -99;
}

.home-style {
  font-family: "DancingScript";
  font-size: 100%;
  color: white;
  margin-top: 0px;
  width: 90%;
  height: 90%;
  z-index: 99;
  text-decoration: double;
  text-shadow: 10px 10px 50px black;
}

.story-2 {
  width: 100%;
  height: 100%;
  background-image: src 'D:\xampp2\htdocs\InvitationNurul\img-story\2016.jpg';
}}

.card {
  margin-left: auto;
}

.story-2 {
  margin-bottom: 15px;
}

.countdown {
  font-size: small;
  margin: auto;
}

.countdown-style {
  margin-top: -120px;
}

.story {
  width: 90%;
  height: 90%;
  margin: auto;
}

.p-4 {
  color: white;
  font-size: small;
  font-weight: bold;
  margin: auto;
}

.stopwatch {
  height: 100px;
  width: 100px;
  font-size: 15px;
}

.p-5 {
  width: 100%;
  height: 100%;
  margin: auto;
}

body {
  background-color: #EDE2C8;
}

.navbar {
  background-color: #C9AA88;
}

.moment {
  margin-top: 70px;
}

@font-face {
  font-family: "DancingScript";
  src: url("DancingScript.ttf");
}

.tampil {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.tampil-body {
  background-image: url('img/tampil-bg1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  height: 100hv;
  width: 100%;
  justify-content: center;
  z-index: 9999;
}

.tampil-body div {
  margin: auto;
  padding: 20px;
}

.tampil-body h3 {
  font-family: DancingScript;
}

.control-pause {
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url('imgicon/pause.png');

}

.control-play {
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url('imgicon/play.png');
}

.audio-control {
  position: fixed;  
  z-index: 9959;

}

footer {
  background-color: #C9AA88;
  min-height: 100px;
}